// _v-color.scss

.color {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  height: 1.725rem;
  transition: all 0.4s;
}

.color-hex {
  top: 0;
  left: 0;
  padding: 0.5rem;
  font-size: 0.725rem;
}
