@use '../variables';

.tonal-palette {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: variables.$border-radius;
  overflow: hidden;

  &:hover {
    box-shadow:
      0 12px 18px rgba(var(--v-theme-on-background), 0.1),
      0 3px 9px rgba(var(--v-theme-on-background), 0.08);
  }

  & :first-child {
    border-top-left-radius: variables.$border-radius;
    border-top-right-radius: variables.$border-radius;
  }

  & :last-child {
    border-bottom-left-radius: variables.$border-radius;
    border-bottom-right-radius: variables.$border-radius;
  }
}

.shade-weight {
  padding-top: 0.25rem;
  font-weight: 500;
}
